<div class="container align-middle text-center my-2">
    <div>
        <h3><strong>Forgot Password</strong></h3>
        <p>To reset your password, please enter your email: </p>
        <form #f="ngForm" (ngSubmit)="sendResetEmail(f.value)">
            <div class="row px-3 mb-4">
                <input ngModel required email class="mb-4" type="email" name="email"
                    placeholder="Enter your email">
            </div>
            <div class="row px-3 mb-4 justify-content-center">
                <button type="submit" class="btn btn-blue text-center">Send reset email</button>
            </div>
        </form>
    </div>
</div>