<!-- ======= Counts Section ======= -->
<section id="counts" class="counts">
    <div class="container" data-aos="fade-up">
        <header class="section-header">
            <h2>{{title}}</h2>
        </header>
        <div class="row gy-4 d-flex justify-content-center scroll">
            <ul>
                <li *ngFor="let item of items" class="col-lg-3 col-md-6">

                    <mat-spinner class="centered isolated" strokeWidth="3" diameter="40" *ngIf="item.stillLoading"></mat-spinner>
                    <a [routerLink]="item.router_link" *ngIf="!item.stillLoading">
                        <div class="count-box">
                            <img [src]="item.image">
                            <div>
                                <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter">{{item.title}}</span>
                                <p>{{item.description}}</p>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <ng-content id="errorContainer"></ng-content>
    </div>

</section>
<!-- End Counts Section -->