<div class="row d-flex">
    <div class="col-lg-6 d-flex align-items-center justify-content-center">
        <img src="https://i.imgur.com/uNGdWHi.png" *ngIf="userType == 'patient'" class="image">
        <img src="https://i.imgur.com/uNGdWHi.png" *ngIf="userType == 'doctor'" class="image">
    </div>
    <div class="col-lg-6">
        <div class="card2 card border-0 px-4 py-5">
            <div class="row mb-4 px-3">
                <h6 class="mb-0 mr-4 mt-2">Sign up with</h6>
                <div class="facebook text-center mr-3">
                    <i class="bi bi-facebook"></i>
                </div>
                <div class="twitter text-center mr-3">
                    <i class="bi bi-twitter"></i>
                </div>
                <div class="linkedin text-center mr-3">
                    <div class="bi bi-linkedin"></div>
                </div>
            </div>
            <div class="row px-3 mb-4">
                <div class="line"></div> <small class="or text-center">Or</small>
                <div class="line"></div>
            </div>
            <form [formGroup]="form" (ngSubmit)="signUp()">
                <div *ngIf="form.errors?.serverError" class="alert alert-danger">
                    Internal Error, please try again later.
                </div>
                <div class="row px-3"> <label class="mb-1">
                        <h6 class="mb-0 text-sm">First name</h6>
                    </label> <input required class="mb-4" [ngClass]="{'required-empty': firstName?.touched && firstName?.errors?.required}" type="text" formControlName="firstName" placeholder="Enter your first name">
                </div>
                <div class="row px-3"> <label class="mb-1">
                        <h6 class="mb-0 text-sm">Last name</h6>
                    </label> <input required class="mb-4" [ngClass]="{'required-empty': lastName?.touched && lastName?.errors?.required}" type="text" formControlName="lastName" placeholder="Enter your last name">
                </div>
                <div class="row px-3"> <label class="mb-1">
                        <h6 class="mb-0 text-sm">Email Address</h6>
                    </label> <input email required class="mb-4" [ngClass]="{'required-empty': email?.touched && email?.errors?.required}" type="text" formControlName="email" placeholder="Enter a valid email address">
                </div>
                <div class="row px-3"> <label class="mb-1">
                        <h6 class="mb-0 text-sm">Date of birth</h6>
                    </label> <input required class="mb-4" [ngClass]="{'required-empty': bday?.touched && bday?.errors?.required}" type="date" formControlName="bday" placeholder="Enter your date of birth">
                </div>

                <div class="row px-3"> <label class="mb-1">
                    <h6 class="mb-0 text-sm">Phone Number</h6>
                </label> <input required class="mb-4" [ngClass]="{'required-empty': phoneNumber?.touched && phoneNumber?.errors?.required}" type="phone" formControlName="phoneNumber" placeholder="Enter your phone">
                </div>

                <div class="row px-3">
                    <!-- <input required class="mb-4" [ngClass]="{'required-empty': phoneNumber?.touched && phoneNumber?.errors?.required}" type="phone" formControlName="phoneNumber" placeholder="Enter your phone"> -->

                    <div id="addresse" class="row mx-0 form-group" formGroupName="address">
                        <label for="Details">Address Details</label>
                        <input type="text" class="form-control" [ngClass]="{'required-empty': details?.touched && details?.errors?.required}" id="Details" formControlName="details" placeholder=" Enter your street name ...">
                        <label for="city">City</label>
                        <input type="text" class="form-control" [ngClass]="{'required-empty': city?.touched && city?.errors?.required}" id="city" formControlName="city" placeholder="Enter your city ...">
                        <label for="country">Country</label>
                        <input type="text" class="form-control" [ngClass]="{'required-empty': country?.touched && country?.errors?.required}" id="country" formControlName="country" placeholder="Enter your country ...">
                    </div>
                </div>


                <div class="row px-3" *ngIf="userType=='doctor'"> <label class="mb-1">
                    <h6 class="mb-0 text-sm">Speciality</h6>
                </label> <input required class="mb-4" [ngClass]="{'required-empty': speciality?.touched && speciality?.errors?.required}" type="text" formControlName="speciality" placeholder="Enter your speciality">
                </div>

                <div formGroupName="passwords">
                    <div class="row px-3"> <label class="mb-1">
                        <h6 class="mb-0 text-sm">Password</h6>
                    </label> <input required type="password" [ngClass]="{'required-empty': password?.touched && password?.errors?.required}" formControlName="password" placeholder="Enter password">
                    </div>
                    <div class="row px-3"> <label class="mb-1">
                        <h6 class="mb-0 text-sm">Confirm Password</h6>
                    </label> <input required type="password" [ngClass]="{'required-empty': cpassword?.touched && cpassword?.errors?.required}" formControlName="cpassword" placeholder="Re-enter password">
                    </div>

                    <div *ngIf="passwords?.touched && passwords?.invalid" class="alert alert-danger">
                        <div *ngIf="password?.errors?.minlength || cpassword?.errors?.minlength">Password must be more than {{password?.errors?.minlength.requiredLength || cpassword?.errors?.minlength.requiredLength}} characters.</div>
                        <div *ngIf="passwords?.errors?.PasswordsDontMatch">Passwords must match</div>

                    </div>
                </div>
                <div class="row mb-3 px-3"> <button type="submit" class="btn btn-blue text-center" [disabled]="form?.invalid">Next</button> </div>
                <div class="row mb-4 px-3"> <small class="font-weight-bold">You already have an account? <a
                            class="text-danger "  routerLink="/signin" >Signin</a></small> </div>
            </form>
            <button (click)="debug()">debug</button>
        </div>
    </div>
</div>