<header id="header" class="header" (window:scroll)="scrolled = true;" [ngClass]="{
  'header-scrolled': scrolled,
  'fixed-top': !inTop
}">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

        <a routerLink="" class="logo d-flex align-items-center">
            <img src="assets/images/logo.png" alt="">
            <span>Tabib.MA</span>
        </a>
        <nav id="navbar" class="navbar" [ngClass]="{'navbar-mobile' : mobileSideBarOpened}">
            <ng-content></ng-content>

            <i class="bi mobile-nav-toggle" [ngClass]="{'bi-list' : !mobileSideBarOpened, 'bi-x': mobileSideBarOpened }" (click)="toggleMobileSideBar()"></i>
        </nav>
        <!-- .navbar -->

    </div>
</header>
<!-- End Header -->