<div class="container">
    <div class="main-body">

        <div class="row gutters-sm">
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="account-settings">
                            <div class="user-profile">
                                <div class="user-avatar">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Maxwell Admin">
                                </div>
                                <h5 class="user-name">Dr. Anastasia</h5>
                                <h6 class="user-email">fip@jukmuh.al</h6>
                            </div>
                            <div class="about">
                                <h5>Description</h5>
                                <p>Cardiologist with +15 years of experience.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-3 col-md-12 col-sm-12 col-12">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Heure</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                10:00
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Date</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                10/10/2021
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Type de Rendez-vous</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                Vidéo Conférence
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Durée</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                45 min
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row gutters">
                    <div class="col-sm">
                        <button type="button" id="submit" name="submit" class="btn btn-secondary" routerLink="..">Retour</button>
                    </div>
                    <div class="col-sm">
                        <button type="button" id="submit" name="submit" class="btn btn-danger">Cancel Appointment</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>