<div class="card h-100">
    <div class="card-body d-flex flex-column">

        <div class="form-group">
            <label for="appointmentType">Type de Rendez-vous</label>
            <select [(ngModel)]="appointmentType" class="form-control" id="appointmentType">
                                                  <option value="presentiel">Présentiel</option>
                                                  <option value="domicile" >A domicile</option>
                                                  <option value="enligne">Vidéo conférence</option>
                                                </select>
        </div>


        <div class="form-group">
            <label for="datetime">Créneau</label>
            <input class="form-control" [(ngModel)]="appointmentDateTime" type="datetime-local" value="2011-08-19T13:45:00" id="datetime">

        </div>

        <div class="form-group">

            <label for="length">Appointment Length (in minutes) </label>
            <input class="form-control" [(ngModel)]="appointmentLength" type="number" value="15" id="length">

        </div>
        <button type="button" (click)="goToValidate()" id="submit" name="submit" class=" align-self-end btn btn-primary" style="margin-top: auto;">Valider le créneau</button>


    </div>
</div>