<div class="container">
    <div class="row gutters">
        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
            <div class="card h-100">
                <div class="card-body">
                    <form class="row gutters">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="firstName">Prénom</label>
                                <input type="text" class="form-control" id="firstName" [placeholder]="currentDoctor?.firstName || 'Enter your first name'">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="lastName">Nom</label>
                                <input type="text" class="form-control" id="lastName" [placeholder]="currentDoctor?.lastName|| 'Enter your last name'">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="eMail">Email</label>
                                <input type="email" class="form-control" id="email" [placeholder]="currentDoctor?.email|| 'Enter your email'">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="phone">Téléphone</label>
                                <input type="text" class="form-control" id="phone" [placeholder]="currentDoctor?.phoneNumber|| 'Enter your phoneNumber'">
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">

                            <label for="addresse">Adresse</label>
                            <div id="addresse" class="form-group">
                                <label for="Street">Street</label>
                                <input type="text" class="form-control" id="Street" [placeholder]="currentDoctor?.addresse?.details|| 'Enter your details'">
                                <label for="city">City</label>
                                <input type="text" class="form-control" id="city" [placeholder]="currentDoctor?.addresse?.city|| 'Enter your city'">
                                <label for="country">Country</label>
                                <input type="text" class="form-control" id="country" [placeholder]="currentDoctor?.addresse?.country|| 'Enter your country'">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="website">Description</label>
                                <textarea class="form-control" id="description" rows="6" [placeholder]="currentDoctor?.description|| 'Enter your description'" required></textarea>
                            </div>
                        </div>
                    </form>

                    <div class="row">
                        <button class="btn btn-warning" data-toggle="collapse" data-target="#changePasswordForm" role="button" aria-expanded="false" aria-controls="changePasswordForm">
                            <div class="wrapper">
                                <span style="margin-right: 15px; ">Change Password</span>
                                <i class="bi bi-chevron-down"></i>
                            </div>
                        </button>
                    </div>
                    <form id="changePasswordForm" class="row collapse form-group">
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                            <label for="password">Current password</label>
                            <input type="password" class="form-control" id="password" placeholder="*********">
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                            <label for="confirmPassword">New Password </label>
                            <input type="confirmPassword" class="form-control" id="confirmPassword" placeholder="*********">
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                            <label for="confirmPassword">Confim New Password </label>
                            <input type="confirmPassword" class="form-control" id="confirmPassword" placeholder="*********">
                        </div>
                    </form>
                    <div class="row gutters">

                        <div class="col-sm">
                            <button type="button" id="cancel" name="cancel" class="btn btn-secondary">Annuler</button>
                        </div>
                        <div class="col-sm">
                            <button type="button" id="submit" name="submit" class="btn btn-primary">Mettre à jour</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>