<div class="container">
    <div class="row gutters">
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
            <div class="card h-100">
                <div class="card-body">
                    <div class="account-settings">
                        <div class="user-profile">
                            <div class="user-avatar">
                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Maxwell Admin">
                            </div>
                            <h5 class="user-name">Anastasia</h5>
                            <h6 class="user-email">fip@jukmuh.al</h6>
                        </div>
                        <div class="about">
                            <h5>Description</h5>
                            <p>Lorem Epsum Lorem Epsume...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-lg-3 col-md-12 col-sm-12 col-12">
            <div class="card h-100">
                <div class="card-body">
                    <div class="row gutters">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="time">Heure</label>
                                <input type="time" class="form-control" id="time" placeholder="">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="date">Date</label>
                                <input type="date" class="form-control" id="date" placeholder="">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="appointmentType">Type de Rendez-vous</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                            <option>A domicile</option>
                            <option>Vidéo Conférence</option>
                        </select>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="appointmentDuration">Durée (minutes)</label>
                                <input type="text" class="form-control" id="appointmentType" placeholder="Example:15">
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="website">Notes</label>
                                <textarea class="form-control" id="notes" rows="6" placeholder="Notes" required></textarea>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="website">Prescription</label>
                                <textarea class="form-control" id="prescription" rows="6" placeholder="Prescription" required></textarea>
                            </div>
                        </div>

                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="buttons">
                                    <button type="button" id="submit" name="submit" class="btn btn-secondary">Annuler</button>
                                    <button type="button" id="submit" name="submit" class="btn btn-primary">Mettre à jour</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>