<app-hero title="Contact your doctor anytime & anywere" description="From your smartphone, tablet or computer, consult your personal doctor remotely ,pay your fees and much more!! " background-image="/assets/images/homepage/hero-bg.png" button-text="Get Started"
    button-routerLink="Signin" side-image="assets/images/homepage/doctor.png"></app-hero>
<app-big-card-with-image title="Who are our healthcare professionals?" description="Gathered within our medical community, they are led by a team that listens to them and benefit from continuous monitoring." details="Selected with high standards for their skills and motivation, our general practitioners and specialists and our midwives are all trained in the practice of teleconsultation and teleconsultation. "
    imagePath="assets/images/homepage/join-us.png" imagePosition="left"></app-big-card-with-image>

<app-big-card-with-image title="Join our medical community" description="We are continuously recruiting doctors and midwives to expand our medical community and support our development." details=" We know your expertise is valuable.  We put our know-how and the technology of our platform at your service."
    imagePath="assets/images/homepage/doctor_mobile.png"></app-big-card-with-image>

<app-list-of-cards smallTitle="our services" title="What will you get" [cards]='[
  {
    imagePath: "assets/images/homepage/doctor.png",
    title: "Doctors available 24/24 for you",
    description: "Benifit from a quick and easy confidential exchanges with a healthcare professional in telecomunication"
  },
  {
    imagePath: "assets/images/homepage/doctor.png",
    title: "Manage your schedules",
    description: "Discover online appointment scheduling and save your precious time."
  },
  {
    imagePath: "assets/images/homepage/doctor.png",
    title: "Pay your fees online",
    description: "Pay your hospital bill online  easily and quickly from the comfort of your home or office."
  }
]'></app-list-of-cards>

<app-contact-us-form [addresses]='["A108 Adam Street, New York, NY 535022"]' [phoneNumbers]='["+1 5589 55488 55", "+1 6678 254445 41"]' [emails]='["info@example.com", "contact@example.com"]' [openHours]='["Monday - Friday", "9:00AM - 05:00PM"]'></app-contact-us-form>

<app-news-letter-subscriber></app-news-letter-subscriber>