<app-base-header>
    <ul>
        <li><a class="nav-link scrollto active" routerLink="">Home</a></li>
        <li><a class="nav-link scrollto" href="#about">Patients</a></li>
        <li><a class="nav-link scrollto" href="#about">Schedules</a></li>
        <li><a class="nav-link scrollto" href="#portfolio">Profile</a></li>
        <li><a class="nav-link scrollto" href="#portfolio">Payments</a></li>

        <li class="dropdown">
            <a [routerLink]="['/profile', doctor?.id]">
                <div class="wrapper">
                    <img [src]="doctor?.image" class="image--cover">
                    <span class="username"> Dr. {{doctor?.fname + " " }} {{doctor?.lname}}</span>
                    <i class="bi bi-chevron-down"></i>
                </div>
            </a>
            <ul>
                <li><a routerLink="">VideoConferences</a></li>
                <li class="dropdown"><a href="#"><span>Personal profile</span> <i class="bi bi-chevron-right"></i></a>
                    <ul>
                        <li><a href="#">Appointments list</a></li>
                        <li><a href="#">Payments History</a></li>
                        <li><a href="#">Medical Records</a></li>
                        <li><a href="#">Edit profile</a></li>
                    </ul>
                </li>
                <li><a routerLink="">Payments Console</a></li>
                <li><a routerLink="">Log out <i class="bi bi-box-arrow-right"></i></a>
            </ul>
            </li>

    </ul>
</app-base-header>