<app-base-header>
    <ul>
        <li><a class="nav-link scrollto" routerLinkActive="active" routerLink="/Doctor/Home">Home</a></li>
        <li><a class="nav-link scrollto" routerLinkActive="active" routerLink="/Doctor/Patients">Patients</a></li>
        <li><a class="nav-link scrollto" routerLinkActive="active" routerLink="/Doctor/Appointments">Appointments</a></li>
        <li><a class="nav-link scrollto" routerLinkActive="active" [routerLink]="['/Doctor/profile', doctor?.userId]">Profile</a></li>
        <!-- <li><a class="nav-link scrollto"  routerLink="/Patient/doctors">Payments</a></li> -->

        <li class="dropdown">
            <a [routerLink]="['/Doctor/profile', doctor?.userId]">
                <div class="wrapper">
                    <img [src]="doctor?.image" class="image--cover">
                    <span class="username"> Dr. {{doctor?.firstName + " " }} {{doctor?.lastName}}</span>
                    <i class="bi bi-chevron-down"></i>
                </div>
            </a>
            <ul>
                <li><a routerLink="">VideoConferences</a></li>
                <li class="dropdown"><a href="#"><span>Personal profile</span> <i class="bi bi-chevron-right"></i></a>
                    <ul>
                        <li><a href="#">Appointments list</a></li>
                        <li><a href="#">Payments History</a></li>
                        <li><a href="#">Medical Records</a></li>
                        <li><a href="#">Edit profile</a></li>
                    </ul>
                </li>
                <li><a routerLink="">Payments Console</a></li>
                <li><a (click)="logOut()">Log out <i class="bi bi-box-arrow-right"></i></a>
            </ul>
            </li>

    </ul>
</app-base-header>