<div class="row d-flex justify-content-center">
    <div class="col-lg-6 d-flex align-items-center">
        <img src="https://i.imgur.com/uNGdWHi.png" class="image">
    </div>
    <div class="col-lg-6">
        <div class="w-75 card2 card border-0 px-4 py-5">
            <div class="row mb-4 px-3 justify-content-center">
                <h6 class="mb-0 mr-4 mt-2">Sign in with</h6>
                <div class="facebook text-center mr-3">
                    <i class="bi bi-facebook"></i>
                </div>
                <div class="twitter text-center mr-3">
                    <i class="bi bi-twitter"></i>
                </div>
                <div class="linkedin text-center mr-3">
                    <div class="bi bi-linkedin"></div>
                </div>
            </div>
            <div class="row px-3 mb-4">
                <div class="line"></div> <small class="or text-center">Or</small>
                <div class="line"></div>
            </div>
            <form [formGroup]="form" (ngSubmit)="login()" class="justify-content-center">
                <div *ngIf="form.errors?.serverError" class="alert alert-danger">
                    Email or Password is invalid.
                </div>
                <div class="row px-3 ">
                    <label class="mb-1">
                        <h6 class="mb-0 text-sm">Email Address</h6>
                    </label> <input formControlName="email" email required class="mb-4" type="text" placeholder="Enter a valid email address">
                </div>
                <div class="row px-3 ">
                    <label class="mb-1">
                        <h6 class="mb-0 text-sm">Password</h6>
                    </label> <input formControlName="password" required type="password" placeholder="Enter password">
                </div>
                <div class="row px-3 mb-4">
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input id="chk1" formControlName="rememberMe" type="checkbox" class="custom-control-input"> <label for="chk1" class="custom-control-label text-sm">Remember me</label>
                    </div> <a href="#" class="ml-auto mb-0 text-sm" routerLink="/forgotPassword">Forgot Password?</a>
                </div>
                <div class="row mb-3 px-3"> <button type="submit" class="btn btn-blue text-center">Login</button> </div>
                <div class="row mb-4 px-3"> <small class="font-weight-bold">Don't have an account? <a
                            class="text-danger" routerLink="/signup">Register</a></small> </div>
            </form>
        </div>
    </div>
</div>