<div class="card h-100">


    <div *ngIf="isLoading" class="card-body">
        <mat-spinner style="margin: auto;"></mat-spinner>
    </div>

    <div class="card-body d-flex flex-column" *ngIf="!isLoading && !isValidated">
        <h1>Demande de Rendez-vous</h1>
        <p>Vous avez choisie un rendez-vous à domicile pour le chréneau suivant:</p>
        <h3 class="creneau">25 Avr. 2021 à 10:45 </h3>
        <p>Pour valider votre choix, vous devez payer les tarifs de confirmation qui sont fixées par <span class="doctor-name"> Dr. Z7lika </span> à :</p>
        <h3 class="price">99dh</h3>
        <button type="button" (click)="demandAppointment()" id="submit" name="submit" class=" align-self-end btn btn-primary" style="margin-top: auto;">Valider la demande.</button>
    </div>


    <div *ngIf="!isLoading && isValidated && isAccepted">
        <div class="alert alert-success" *ngIf="isAccepted">The demand has been succefully sent. You'll be notified when the doctor accepts your appointment.</div>
        <div class="alert-danger" *ngIf="!isAccepted">
            An error has occured when demanding this appoitment. Please try again later.</div>

        <div class="alert">You'll be direct to the home page in {{secondsToRedirect}} seconds.</div>
    </div>



</div>