<app-base-header>
    <nav id="navbar" class="navbar">
        <ul>
            <li><a class="nav-link scrollto active" routerLink="">Home</a></li>
            <li><a class="nav-link scrollto" href="#about">Doctors</a></li>
            <li><a class="nav-link scrollto" href="#about">Profile</a></li>
            <li><a class="nav-link scrollto" href="#portfolio">Payments</a></li>

            <li class="dropdown">
                <a [routerLink]="['/profile', user.id]">
                    <div class="wrapper">
                        <img [src]="user.image" class="image--cover">
                        <span class="username"> {{user.fname + " " }} {{user.lname | uppercase}}</span>
                        <i class="bi bi-chevron-down"></i>
                    </div>
                </a>
                <ul>
                    <li><a routerLink="">VideoConferences</a></li>
                    <li class="dropdown"><a href="#"><span>Personal profile</span> <i class="bi bi-chevron-right"></i></a>
                        <ul>
                            <li><a href="#">Appointments list</a></li>
                            <li><a href="#">Payments History</a></li>
                            <li><a href="#">Medical Record</a></li>
                            <li><a href="#">Edit profile</a></li>
                        </ul>
                    </li>
                    <li><a routerLink="">Payments Console</a></li>
                    <li><a routerLink="">Log out <i class="bi bi-box-arrow-right"></i></a>
                </ul>
                </li>

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- .navbar -->
</app-base-header>