<app-base-header>

    <ul>
        <li><a class="nav-link scrollto active" routerLink="">Home</a></li>
        <li><a class="nav-link scrollto" routerLink="/Patient/doctors">Doctors</a></li>
        <li><a class="nav-link scrollto" routerLink="/Patient/profile/id/edit">Profile</a></li>
        <li><a class="nav-link scrollto" routerLink="/Patient/payments/id">Payments</a></li>

        <li>
            <mat-spinner strokeWidth="3" diameter="20" *ngIf="loading"></mat-spinner>
        </li>

        <li *ngIf="!loading" class="dropdown">
            <a [routerLink]="['/profile', patient?.userId]">
                <div class="wrapper">
                    <img [src]="patient?.imageUrl" class="image--cover">
                    <span class="username"> {{patient?.firstName + " " }} {{patient?.lastName}}</span>
                    <i class="bi bi-chevron-down"></i>
                </div>
            </a>
            <ul>
                <li><a routerLink="">VideoConferences</a></li>
                <!-- Replace with dynamic id-->
                <li class="dropdown"><a routerLink="/Patient/profile/id/edit"><span>Personal profile</span> <i class="bi bi-chevron-right"></i></a>
                    <ul>
                        <li><a routerLink="/Patient/profile/id/Appointments/">Appointments list</a></li>
                        <li><a routerLink="/Patient/profile/id/payments/">Payments History</a></li>
                        <!-- <li><a routerLink="/Patient/profile/id">Medical Record</a></li> -->
                        <li><a routerLink="/Patient/profile/id/edit">Edit profile</a></li>
                    </ul>
                </li>
                <!-- <li><a routerLink="/Patient/payments">Payments Console</a></li> -->
                <li><a (click)="logOut()">Log out <i class="bi bi-box-arrow-right"></i></a>
            </ul>
            </li>
    </ul>
</app-base-header>