/*
    Profile image
*/

.wrapper {
    padding: 5px;
}

.image--cover {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center right;
}

.username {
    margin-left: 5px;
    font-size: small;
}