<mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" [opened]="true">
        <div class="sidenav-logo-container">
            <img src="assets/images/logo.png" alt="">
        </div>
        <mat-nav-list>
            <app-nav-menu-item routerLink="edit" title="Edit profile" icon="home"></app-nav-menu-item>
            <app-nav-menu-item routerLink="Appointments" title="Appointments list" icon="calendar_today"></app-nav-menu-item>
            <app-nav-menu-item routerLink="payments" title="Payments Console" icon="attach_money"></app-nav-menu-item>
            <!-- <app-nav-menu-item routerLink="medicalRecord" title = "Medical Record" icon = "local_hospital"></app-nav-menu-item> -->

        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="sidenave-content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>