/* You can add global styles to this file, and also import other style files */
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color:#4154f1 !important;
}

.btn-outline-primary {
    color: #4154f1;
    border-color:#4154f1;
}