<div class="container">
    <div class="main-body">
    <div><h3><strong>Mon paiement avec ma banque</strong></h3></div>
          <div class="row gutters-sm">
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Facture de:</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      06/10/2021
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Total à payer:</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      1200dh
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Mon code de paiement:</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      jhqsdjh767QJDH
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Votre code expire dans:</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      1jr23h59m
                    </div>
                  </div>
                  
                </div>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="buttons">
                        <button type="button" id="submit" name="submit" class="btn btn-secondary" >Retour</button>
                </div>
              </div>
        </div>
    </div>
    </div>
</div>