<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
<div class="row">
  <!-- BEGIN SEARCH RESULT -->
  <div class="col-md-12">
    <div class="grid search">
      <div class="grid-body">
        <div class="row">
          
          <!-- BEGIN RESULT -->
          <div class="col-md-9">
            <h2><i class="fa fa-file-o"></i> Appointments</h2>
            <hr>
            <!-- BEGIN SEARCH INPUT -->
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
              </span>
            </div>
            <!-- END SEARCH INPUT -->
            
            <div class="padding"></div>
            
            <div class="row">
              
            </div>
            
            <!-- BEGIN TABLE RESULT -->
            <div class="table-responsive">
              <table class="table table-hover">
                <tbody>
                <tr>
                  <td class="number text-center">1</td>
                  <td class="image"><img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt=""></td>
                  <td class="name "><strong>Hassan ALAOUI</strong><br>16/05/2021 à 10:30</td>
                  <td class="type text-center"><strong>Vidéo Conférence</strong></td>
                  <td class="edit text-right"><button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button></td>
                  <td class="delete text-right"><button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button></td>
                </tr>
                <tr>
                    <td class="number text-center">2</td>
                    <td class="image"><img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt=""></td>
                    <td class="name "><strong>Hassan ALAOUI</strong><br>16/05/2021 à 10:30</td>
                    <td class="type text-center"><strong>A domicile</strong></td>
                    <td class="edit text-right"><button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button></td>
                    <td class="delete text-right"><button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button></td>
                </tr>
                <tr>
                    <td class="number text-center">3</td>
                    <td class="image"><img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt=""></td>
                    <td class="name "><strong>Hassan ALAOUI</strong><br>16/05/2021 à 10:30</td>
                    <td class="type text-center"><strong>A domicile</strong></td>
                    <td class="edit text-right"><button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button></td>
                    <td class="delete text-right"><button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button></td>
                </tr>
                <tr>
                    <td class="number text-center">4</td>
                    <td class="image"><img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt=""></td>
                    <td class="name "><strong>Hassan ALAOUI</strong><br>16/05/2021 à 10:30</td>
                    <td class="type text-center"><strong>Vidéo Conférence</strong></td>
                    <td class="edit text-right"><button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button></td>
                    <td class="delete text-right"><button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button></td>
                </tr>
                <tr>
                    <td class="number text-center">5</td>
                    <td class="image"><img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt=""></td>
                    <td class="name "><strong>Hassan ALAOUI</strong><br>16/05/2021 à 10:30</td>
                    <td class="type text-center"><strong>A domicile</strong></td>
                    <td class="edit text-right"><button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button></td>
                    <td class="delete text-right"><button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button></td>
                </tr>
                <tr>
                    <td class="number text-center">6</td>
                    <td class="image"><img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt=""></td>
                    <td class="name "><strong>Hassan ALAOUI</strong><br>16/05/2021 à 10:30</td>
                    <td class="type text-center"><strong>A domicile</strong></td>
                    <td class="edit text-right"><button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button></td>
                    <td class="delete text-right"><button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button></td>
                </tr>
                <tr>
                    <td class="number text-center">7</td>
                    <td class="image"><img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt=""></td>
                    <td class="name "><strong>Hassan ALAOUI</strong><br>16/05/2021 à 10:30</td>
                    <td class="type text-center"><strong>A domicile</strong></td>
                    <td class="edit text-right"><button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button></td>
                    <td class="delete text-right"><button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button></td>
                </tr>
                <tr>
                    <td class="number text-center">8</td>
                    <td class="image"><img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt=""></td>
                    <td class="name "><strong>Hassan ALAOUI</strong><br>16/05/2021 à 10:30</td>
                    <td class="type text-center"><strong>A domicile</strong></td>
                    <td class="edit text-right"><button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button></td>
                    <td class="delete text-right"><button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button></td>
                </tr>
                


              </tbody></table>
            </div>
            <!-- END TABLE RESULT -->
            
          </div>
          <!-- END RESULT -->
        </div>
      </div>
    </div>
  </div>
  <!-- END SEARCH RESULT -->
</div>
</div>