<form id="changePasswordForm" class="row collapse form-group">
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
        <label for="password">Current password</label>
        <input type="password" class="form-control" id="password" placeholder="*********">
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
        <label for="confirmPassword">New Password </label>
        <input type="confirmPassword" class="form-control" id="confirmPassword" placeholder="*********">
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
        <label for="confirmPassword">Confim New Password </label>
        <input type="confirmPassword" class="form-control" id="confirmPassword" placeholder="*********">
    </div>
</form>
<div class="row gutters">

    <div class="col-sm">
        <button type="button" id="cancel" name="cancel" class="btn btn-secondary">Annuler</button>
    </div>
    <div class="col-sm">
        <button type="button" id="submit" name="submit" class="btn btn-primary">Mettre à jour</button>
    </div>

</div>