<app-hero title="Contact your doctor anytime & anywere" description="From your smartphone, tablet or computer, consult your personal doctor remotely ,pay your fees and much more!! " background-image="/assets/images/homepage/hero-bg.png" button-text="Explore Now"
    button-routerLink="/Patient/doctors" side-image="assets/images/homepage/doctor.png"></app-hero>

<mat-spinner id="appointmentsSpinner" class="centered isolated" strokeWidth="3" diameter="40" *ngIf="loadingAppointments"></mat-spinner>
<app-list-of-small-cards-with-images title="Upcoming appointments" [items]="appointmentsDetailsArray" *ngIf="!loadingAppointments && appointmentsDetailsArray.length">
    <div class="aler alert-danger" *ngIf="errors.serverError.appointments">An internal server error occured when loading appointments.</div>
    <div class="aler alert-danger" *ngIf="errors.serverError.doctors">An internal server error occured when loading Doctors infos.</div>
</app-list-of-small-cards-with-images>